/*定义滚动条高宽 高宽分别对应横竖滚动条的尺寸*/
*::-webkit-scrollbar {
    width: 7px;
    height: 1px;
    background-color: transparent;
}

/*定义滚动条的轨道的背景颜色*/
*::-webkit-scrollbar-track {
    background-color: gray;
}
/*定义滚动条轨道 内阴影+圆角*/
*::-webkit-scrollbar-thumb {
    background-color: #dbdbdb;
    border-radius: 6px;
    height: 10px;
}
/*定义滑块 内阴影+圆角*/
*::-webkit-scrollbar-thumb:hover {
    background-color: #c2c2c2;
    border-radius: 6px;
    height: 10px;
}
::-webkit-scrollbar{
    /*display: none;*/
}
.scrollbarHide::-webkit-scrollbar {
    display: none;
}
.scrollbarShow::-webkit-scrollbar {
    display: block;
}
